.searchWrapper {
    display: flex;
    height: 35vh;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
}
.main {
    padding: 16px 80px 16px 80px;
}

@media (max-width: 600px) {
    /* CSS rules for landscape orientation on screens wider than 600px */
    .main {
        padding: 16px;
    }
}
