.inputWrapper {
    position: fixed;
    background-color: white;
    top: 0;
    width: calc(100% - 160px);
    padding: 16px 0;
    z-index: 2;
}
.main {
    padding: 16px 80px 16px 80px;
}

@media (max-width: 600px) {
    /* CSS rules for landscape orientation on screens wider than 600px */
    .main {
        padding: 16px;
    }
}

.contentWrapper {
    margin-top: 65px;
}

@media (max-width: 600px) {
    /* CSS rules for landscape orientation on screens wider than 600px */
    .inputWrapper {
        padding: 16px 0;
        width: calc(100% - 24px);
    }
}
